main img {

    width: 250px;

    height: auto;

    float: center;

    margin: 10px 0 10px 20px;

    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

main::after {
    content: "";
    display: table;
    clear: both;
}